<div>
  <div>THE ONION</div>
  <div>Special toolbar</div>
  <save-button
   save-function="saveModel"
   disable-save="model.$dirty().length === 0">
  </save-button>
</div>

<div>
  {{ model.$dirty() }}
</div>

<div class="container col-xs-offset-1 col-xs-10">
  <div class="row well">
    <div class="form-group">
      <label for="campaignSponsorName">Sponsor Name (Appears on Website)</label>
      <input id="campaignSponsorName" type="text" name="sponsor_name" ng-model="model.sponsor_name" class="form-control">
    </div>
  </div>
</div>


<div class="container col-xs-offset-1 col-xs-10">
  <div class="row well">
    <div class="form-group">
      <label for="pixelType">Type</label>
      <select id="pixelType" type="text" name="pixel_type" 
        ng-options="pixelType.value as pixelType.name for pixelType in PIXEL_TYPES"
        ng-model="model.pixel_type" class="form-control">
        <option value="">Choose Type</option>
      </select>
    </div>
  </div>
</div>
