<nav-bar view="nav"></nav-bar>

<cms-notify-container class="cms-notify-container"></cms-notify-container>

<h1>CAMPAIGNS</h1>

<table class="table table-striped">
  <thead>
    <th>Campaign</th>
    <th>Sponsor</th>
    <th>Start Date</th>
    <th>End Date</th>
    <!--<th>Campaign Progress</th>-->
  </thead>
  <tbody>
    <tr ng-repeat="campaign in campaigns">
      <td>{{ campaign.campaign_label}}</td>
      <td>{{ campaign.sponsor_name}}</td>
      <td>{{ campaign.start_date | moment : 'MM/DD/YY' }}</td>
      <td>{{ campaign.end_date | moment : 'MM/DD/YY' }}</td>
      <!--TODO: Campaign Progress-->
      <td>
        <a href="/cms/app/campaigns/edit/{{ campaign.id }}/">EDIT &gt;&gt;</a>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-xs btn-info" ng-click="addCampaign()">
  <i class="glyphicon glyphicon-plus"></i>
  Add A Campaign
</button>
