<div>
  <div>THE ONION</div>
  <div>Special toolbar</div>
  <save-button
      click-function="saveModel"
      disable-when="model.$dirty().length === 0">
  </save-button>
</div>

<div>
  {{ model.$dirty() }}
</div>

<div class="container col-xs-offset-1 col-xs-10">
  <div class="row well">
    <div class="form-group">
      <label for="specialCoverageName">Name</label>
      <input id="specialCoverageName" type="text" name="name" ng-model="model.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="specialCoverageSlug">Slug</label>
      <input id="specialCoverageSlug" type="text" name="slug" ng-model="model.slug" class="form-control">
    </div>
    <div class="form-group">
      <label for="specialCoverageDescription">Description</label>
      <textarea id="specialCoverageDescription" type="text" name="description" ng-model="model.description" class="form-control">
      </textarea>
    </div>
    <input type="hidden" ng-model="model.query">
  </div>
  <div class="row" role="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#paneQuery" role="tab" data-toggle="tab">
          Add Content
        </a>
      </li>
      <li role="presentation">
        <a href="#paneVideos" role="tab" data-toggle="tab">
          Add Videos
        </a>
      </li>
    </ul>
  </div>
  <div class="row tab-content">
    <div id="paneQuery" role="tabpanel" class="tab-pane active">
      <custom-search search-query-data="model.query"></custom-search>
    </div>
    <div id="paneVideos" role="tabpanel" class="tab-pane">
      VIDEO LIST EDITING THING
    </div>
  </div>
</div>
